<form id="test_form">
	<dl>
		<dt>name</dt>
		<dd>
			<div field="name"></div>
			<div error="name"></div>	
		</dd>
		<dt>code</dt>
		<dd>
			<div field="code"></div>
			<div error="code"></div>	
		</dd>
		<dt>email</dt>
		<dd>
			<div field="email"></div>
			<div error="email"></div>
		</dd>
		<dt>message</dt>
		<dd>
			<div field="message"></div>
			<div error="message"></div>	
		</dd>
		<dt>category</dt>
		<dd>
			<div field="category"></div>
			<div error="category"></div>	
		</dd>
		<dt>radio</dt>
		<dd>
			<div field="radio"></div>
			<div error="radio"></div>	
		</dd>
		<dt>checkbox</dt>
		<dd>
			<div field="checkbox"></div>
			<div error="checkbox"></div>	
		</dd>
		<dt>file1</dt>
		<dd>
			<div field="file1"></div>
			<div error="file1"></div>	
		</dd>
		<dt>file2</dt>
		<dd>
			<div field="file2"></div>
			<div error="file2"></div>	
		</dd>
	</dl>
	<div field="submit"></div>
</form>
