@charset "utf-8";
*{
	box-sizing:border-box;
}
body{
	color:#fff;
	font-size:13px;
}
header{
	background:#d61;
	position:fixed;
	left:0;
	top:0;
	right:0;
	height:50px;
	z-index:98;
	transition-duration:300ms;
	-webkit-transition-duration:300ms;
	
}
header.hide{
	top:-50px;
}
header #page_title{
	font-size:18px;
	font-weight:100;
	margin-left:10px;
	line-height:50px;
}
header .barger_btn{
	position:absolute;
	right:10px;
	top:10px;
	width:30px;
	height:30px;
	background:#fff;
}

/* sidebar ---------------------- */

.sidebar .bg{
	background:rgba(0,0,0,0.6);
	position:fixed;
	left:-100%;
	top:0;
	width:100%;
	height:100%;
	opacity:0;
	-webkit-opacity:0;
	z-index:100;
	transition-duration:300ms;
}
.sidebar .menu{
	position:fixed;
	left:-100%;
	top:0;
	background:#fff;
	color:#444;
	width:300px;
	height:100%;
	z-index:101;
	overflow:auto;
	padding:10px;
	opacity:0;
	-webkit-opacity:0;
	transition-duration:300ms;
}
.sidebar.active .bg,
.sidebar.active .menu{
	left:0;
	opacity:1;
	-webkit-opacity:1;
}
.sidebar a{
	display:block;
	padding:10px;
}

pagelist{
	top:50px;
	transition-duration:300ms;
	-webkit-transition-duration:300ms;
}
header.hide~pagelist{
	top:0px;
}
pagelist page{
	background:#fff;
	color:#222;
}

input,
textarea,
select,
select option{
	background:#f0f0f0;
	color:#444;
	padding:0px 5px;
	border:none;
	border-bottom:solid 1px #d81;
	line-height:36px;
	width:100%;
	display:block;
}
input,
textarea,
select{
	margin-bottom:5px;
}
select{
	height:30px;
}
input:focus,
select:focus,
textarea:focus{
	outline:none;
	background:#fec;
}
input:-internal-autofill-selected{
	background:none;
}
input[type=checkbox],
input[type=radio]{
	width:auto;
	display:inline-block;
	margin:0px;
	margin-right:6px;
	vertical-align:middle;
}
.radio,
.checkbox{
	margin:5px 0px;
	margin-right:15px;
	display:inline-block;
}
textarea{
	line-height:1.2rem;
	padding:5px;
}
form .error{
	background:#c00;
	color:#fff;
	padding:5px 12px;
	margin-top:5px;
}
dl dt,
dl dd{
	margin:5px 0px;
}
dl dd{
	margin-bottom:10px;
}
._wd.custom ._window{
	border:none;
	width:95%;
	background:#222;
	color:#fff;
	box-shadow: 0px 0px 4px 1px #aaa;
}
._wd.notification.success ._window{
	width:95%;
	background:#171;
	border:none;
	padding:15px;
}
._wd.notification.success ._window a{
	color:#fff;
}

/*  login  ---------------  */

.login{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#d72;
	color:#fff;
	padding:20px;
}
.login .login_form{
	position:absolute;
	left:50%;
	top:50%;
	transform:translateX(-50%) translateY(-50%);
	-webkit-transform:translateX(-50%) translateY(-50%);
	width:80%;
	max-width:400px;
}
.login.tables{
	display:table;
}
.login.tables .cell{
	display:table-row;
}
.login.tables .cell.bottoms{
	height:30px;
}
.login.tables .cell.bottoms a{
	display:inline-block;
	line-height:30px;
}

.login.tables .cell.bottoms ._right{
	position:absolute;
	right:20px;
}

.login input:not([type=submit]){
	background:#fff;
	color:#444;
	border:none;
}
.login dl dt{
	margin-bottom:10px;
}
.login dl dd{
	margin-bottom:20px;
}
.login .memo{
	margin-bottom:5px;
	font-size:12px;
}
.login .link_regist{
	position:absolute;
	left:0;
	bottom:20px;
	width:100%;
}
.login a{
	color:#fff;
}
