
pagelist{
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
}
pagelist page{
	box-sizing:border-box;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background:#333;
	padding:10px;
}
pagelist page .pagewk{
	opacity:1;
	-webkit-opacity:1;
}

/* slide-left --------------------- */

pagelist.slide-left page{
	box-shadow:0px 0px 4px 1px #aaa;
}
pagelist.slide-left.move page.open{
	animation-name:slide-left-open;
	animation-duration:500ms;
	animation-timing-function: ease-out;
	animation-fill-mode:forwards;
}
pagelist.slide-left.move page.open .pagewk{
	animation-name:slide-left-openwk;
	animation-duration:500ms;
	animation-timing-function: ease-in;
	animation-fill-mode:forwards;
}
pagelist.slide-left.move page.closed{
	animation-name:slide-left-open-onclosed;
	animation-duration:500ms;
	animation-fill-mode:forwards;
}
pagelist.slide-left.back page.closed{
	animation-name:slide-left-close;
	animation-duration:400ms;
	animation-fill-mode:forwards;
}
pagelist.slide-left.back page.open{
	animation-name:slide-left-close-onopen;
	animation-duration:400ms;
	animation-fill-mode:forwards;
}
@keyframes slide-left-open{
	0%{
		left:100%;
	}
	40%{
		left:0%;
	}
	100%{
		left:0%;
	}
}
@keyframes slide-left-openwk{
	0%{
		opacity:0;
	}
	70%{
		opacity:0;
	}
	100%{
		opacity:1;
		-webkit-opacity:1;
	}
}
@keyframes slide-left-open-onclosed{
	0%{
		left:0%;
	}
	100%{
		left:-10%;
	}
}
@keyframes slide-left-close{
	0%{
		left:0%;
	}
	100%{
		left:100%;
	}
}
@keyframes slide-left-close-onopen{
	0%{
		left:-10%;
	}
	100%{
		left:0%;
	}
}


/* slide-top --------------------- */

pagelist.slide-top page{
	box-shadow:0px 0px 4px 1px #aaa;
}
pagelist.slide-top.move page.open{
	animation-name:slide-top-open;
	animation-duration:500ms;
	animation-timing-function: ease-out;
	animation-fill-mode:forwards;
}
pagelist.slide-top.move page.open .pagewk{
	animation-name:slide-top-openwk;
	animation-duration:500ms;
	animation-timing-function: ease-in;
	animation-fill-mode:forwards;
}
pagelist.slide-top.move page.closed{
	animation-name:slide-top-open-onclosed;
	animation-duration:500ms;
	animation-fill-mode:forwards;
}
pagelist.slide-top.back page.closed{
	animation-name:slide-top-close;
	animation-duration:400ms;
	animation-fill-mode:forwards;
}
pagelist.slide-top.back page.open{
	animation-name:slide-top-close-onopen;
	animation-duration:400ms;
	animation-fill-mode:forwards;
}
@keyframes slide-top-open{
	0%{
		top:100%;
	}
	40%{
		top:0%;
	}
	100%{
		top:0%;
	}
}
@keyframes slide-top-openwk{
	0%{
		opacity:0;
	}
	70%{
		opacity:0;
	}
	100%{
		opacity:1;
		-webkit-opacity:1;
	}
}
@keyframes slide-top-open-onclosed{
	0%{
		top:0%;
	}
	100%{
		top:-10%;
	}
}
@keyframes slide-top-close{
	0%{
		top:0%;
	}
	100%{
		top:100%;
	}
}
@keyframes slide-top-close-onopen{
	0%{
		top:-10%;
	}
	100%{
		top:0%;
	}
}



/* slide-top-roll --------------------- */

pagelist.slide-top-roll page{

}
pagelist.slide-top-roll.move page.open{
	animation-name:slide-top-roll-open;
	animation-duration:500ms;
	animation-timing-function: ease-out;
	animation-fill-mode:forwards;
}
pagelist.slide-top-roll.move page.closed{
	animation-name:slide-top-roll-open-onclosed;
	animation-duration:500ms;
	animation-fill-mode:forwards;
}
pagelist.slide-top-roll.back page.closed{
	animation-name:slide-top-roll-close;
	animation-duration:400ms;
	animation-fill-mode:forwards;
}
pagelist.slide-top-roll.back page.open{
	animation-name:slide-top-roll-close-onopen;
	animation-duration:400ms;
	animation-fill-mode:forwards;
}
@keyframes slide-top-roll-open{
	0%{
		top:100%;
	}
	100%{
		top:0%;
	}
}
@keyframes slide-top-roll-open-onclosed{
	0%{
		top:0%;
	}
	100%{
		top:-100%;
	}
}
@keyframes slide-top-roll-close{
	0%{
		top:0%;
	}
	100%{
		top:100%;
	}
}
@keyframes slide-top-roll-close-onopen{
	0%{
		top:-100%;
	}
	100%{
		top:0%;
	}
}

/* feed --------------------- */

pagelist.feed.move page.open{
	animation-name:feed-open;
	animation-duration:500ms;
	animation-timing-function: ease-out;
	animation-fill-mode:forwards;
}
pagelist.feed.move page.closed .pagewk{
	opacity:0;
	-webkit-opacity:0;
}
pagelist.feed.back page.closed{
	animation-name:feed-close;
	animation-duration:400ms;
	animation-fill-mode:forwards;
}
pagelist.feed.back page.open .pagewk{
	opacity:0;
	-webkit-opacity:0;
}
@keyframes feed-open{
	0%{
		opacity:0;
		-webkit-opacity:0;
	}
	100%{
		opacity:1;
		-webkit-opacity:1;
	}
}
@keyframes feed-close{
	0%{
		opacity:1;
		-webkit-opacity:1;
	}
	100%{
		opacity:0;
		-webkit-opacity:0;
	}
}